<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Saludame 3</title>
</head>

<body>
  <h1>Hola! Dime a quien saludar</h1>
  <form action="saludar" method="post">
    <input type="text" name="nombre">
    <br>
    <input type="submit" name="enviar" value="Saludar">
</body>


</html>
